In [4]:
import pandas as pd
import numpy as np

In [5]:
df=pd.read_csv('https://raw.githubusercontent.com/becodeorg/GNT-Arai-2.31/master/content/additional_resources/datasets/NYC%20Motor%20Vehicle%20Crashes/data_100000.csv?token=AUDYZY3TTN2G3K3VJU7AA2LA5U2K4')

In [43]:
df.head()

,crash_date,crash_time,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,number_of_motorist_injured,number_of_motorist_killed,contributing_factor_vehicle_1,collision_id,vehicle_type_code1
0,2017-04-18T00:00:00.000,23:10,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,3654181,Station Wagon/Sport Utility Vehicle
1,2017-05-06T00:00:00.000,13:00,1,0,1,0,0,0,0,0,Failure To Yield Right-Of-Way,3665311,Sedan
2,2017-04-27T00:00:00.000,17:15,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,3658491,Sedan
3,2017-05-09T00:00:00.000,20:10,1,0,0,0,0,0,1,0,Unspecified,3666554,Motorcycle
4,2017-04-18T00:00:00.000,14:00,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,3653269,Sedan

MISSING VALUES

In [16]:
#Step_1: print("There are {} rows of data".format(len(df))) # this one gets only the rows 
df.shape

(100000, 29)

In [26]:
#Step_2: to detect missing values 
#df.isnull()

In [12]:
#number of null values 
df.isnull().sum().sum()

871235

In [28]:
#df.loc[:, df.isnull().any()].columns#identify the columns with missing values 
# The percentage of missing values in each column 
df.isna().sum()/(len(df))*100

crash_date                        0.000
crash_time                        0.000
borough                          35.026
zip_code                         35.034
latitude                          8.035
longitude                         8.035
location                          8.035
on_street_name                   26.009
off_street_name                  52.875
cross_street_name                74.033
number_of_persons_injured         0.000
number_of_persons_killed          0.000
number_of_pedestrians_injured     0.000
number_of_pedestrians_killed      0.000
number_of_cyclist_injured         0.000
number_of_cyclist_killed          0.000
number_of_motorist_injured        0.000
number_of_motorist_killed         0.000
contributing_factor_vehicle_1     0.371
contributing_factor_vehicle_2    19.243
contributing_factor_vehicle_3    91.239
contributing_factor_vehicle_4    97.760
contributing_factor_vehicle_5    99.333
collision_id                      0.000
vehicle_type_code1                0.740
vehicle_type_code2               26.589
vehicle_type_code_3              91.671
vehicle_type_code_4              97.853
vehicle_type_code_5              99.354
dtype: float64

In [41]:
#Step_3 Drop the columns that have more than 1000 missing value:
df.drop(columns = df.columns[df.isnull().sum() > 1000],
    inplace = True)
# Print the columns that were dropped: 
print

ATTRIBUTE TYPE

In [33]:
# to check the type of each column and see what type it should be transformed to 
df.dtypes

crash_date                        object
crash_time                        object
borough                           object
zip_code                         float64
latitude                         float64
longitude                        float64
location                          object
on_street_name                    object
off_street_name                   object
cross_street_name                 object
number_of_persons_injured          int64
number_of_persons_killed           int64
number_of_pedestrians_injured      int64
number_of_pedestrians_killed       int64
number_of_cyclist_injured          int64
number_of_cyclist_killed           int64
number_of_motorist_injured         int64
number_of_motorist_killed          int64
contributing_factor_vehicle_1     object
contributing_factor_vehicle_2     object
contributing_factor_vehicle_3     object
contributing_factor_vehicle_4     object
contributing_factor_vehicle_5     object
collision_id                       int64
vehicle_type_code1                object
vehicle_type_code2                object
vehicle_type_code_3               object
vehicle_type_code_4               object
vehicle_type_code_5               object
dtype: object

In [57]:
## Print unique values of the 'column' attribute
list(df['contributing_factor_vehicle_1'].unique())

['Driver Inattention/Distraction',
 'Failure To Yield Right-Of-Way',
 'Unspecified',
 'Unsafe Lane Changing',
 'Passing Or Lane Usage Improper',
 'Other Vehicular',
 'Passing Too Closely',
 'Backing Unsafely',
 'Traffic Control Disregarded',
 'Driver Inexperience',
 'Unsafe Speed',
 'Following Too Closely',
 'Obstruction/Debris',
 'Turning Improperly',
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
 'Pavement Slippery',
 'Aggressive Driving/Road Rage',
 'Reaction To Uninvolved Vehicle',
 'Steering Failure',
 'Oversized Vehicle',
 'View Obstructed/Limited',
 'Traffic Control Device Improper/Non-Working',
 'Fell Asleep',
 'Glare',
 'Passenger Distraction',
 'Accelerator Defective',
 'Failure To Keep Right',
 'Alcohol Involvement',
 'Outside Car Distraction',
 'Brakes Defective',
 nan,
 'Pavement Defective',
 'Driverless/Runaway Vehicle',
 'Fatigued/Drowsy',
 'Animals Action',
 'Tire Failure/Inadequate',
 'Lane Marking Improper/Inadequate',
 'Physical Disability',
 'Illnes',
 'Cell Phone (Hand-Held)',
 'Lost Consciousness',
 'Drugs (Illegal)',
 'Other Lighting Defects',
 'Shoulders Defective/Improper',
 'Tinted Windows',
 'Using On Board Navigation Device',
 'Cell Phone (Hands-Free)',
 'Vehicle Vandalism',
 'Tow Hitch Defective',
 'Prescription Medication',
 'Listening/Using Headphones',
 'Eating Or Drinking',
 'Headlights Defective',
 'Other Electronic Device',
 'Windshield Inadequate']

ATTRIBUTE VALUES

In [29]:
# Print the number of unique values of each column, only printing those that have less than 100 unique values
counts= df.nunique()
print(counts)

crash_date                          551
crash_time                         1440
borough                               5
zip_code                            203
latitude                          33675
longitude                         26494
location                          44605
on_street_name                     4120
off_street_name                    4661
cross_street_name                 22815
number_of_persons_injured            13
number_of_persons_killed              4
number_of_pedestrians_injured         7
number_of_pedestrians_killed          2
number_of_cyclist_injured             4
number_of_cyclist_killed              2
number_of_motorist_injured           13
number_of_motorist_killed             4
contributing_factor_vehicle_1        54
contributing_factor_vehicle_2        47
contributing_factor_vehicle_3        30
contributing_factor_vehicle_4        12
contributing_factor_vehicle_5         9
collision_id                     100000
vehicle_type_code1                  281
vehicle_type_code2                  287
vehicle_type_code_3                  58
vehicle_type_code_4                  31
vehicle_type_code_5                  16
dtype: int64

In [60]:
df.describe(include='all').T # Transpose the data frame so that it fits in a cell

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
crash_date,100000,551,2019-07-19T00:00:00.000,664,NaN,NaN,NaN,NaN,NaN,NaN,NaN
crash_time,100000,1440,0:00,1637,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number_of_persons_injured,100000.0,NaN,NaN,NaN,0.37196,0.743916,0.0,0.0,0.0,1.0,15.0
number_of_persons_killed,100000.0,NaN,NaN,NaN,0.00193,0.046112,0.0,0.0,0.0,0.0,3.0
number_of_pedestrians_injured,100000.0,NaN,NaN,NaN,0.04739,0.223438,0.0,0.0,0.0,0.0,6.0
number_of_pedestrians_killed,100000.0,NaN,NaN,NaN,0.00064,0.02529,0.0,0.0,0.0,0.0,1.0
number_of_cyclist_injured,100000.0,NaN,NaN,NaN,0.04964,0.222343,0.0,0.0,0.0,0.0,3.0
number_of_cyclist_killed,100000.0,NaN,NaN,NaN,0.00025,0.015809,0.0,0.0,0.0,0.0,1.0
number_of_motorist_injured,100000.0,NaN,NaN,NaN,0.27492,0.711058,0.0,0.0,0.0,0.0,15.0
number_of_motorist_killed,100000.0,NaN,NaN,NaN,0.00104,0.034913,0.0,0.0,0.0,0.0,3.0
contributing_factor_vehicle_1,99629,54,Driver Inattention/Distraction,25605,NaN,NaN,NaN,NaN,NaN,NaN,NaN
collision_id,100000.0,NaN,NaN,NaN,4226109.34064,165356.051121,2568.0,4182342.75,4300224.0,4328315.25,4353706.0
vehicle_type_code1,99260,281,Sedan,46790,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
column Name	Description	Type
CRASH DATE	Occurrence date of collision	Date & Time
CRASH TIME	Occurrence time of collision	Plain Text
BOROUGH	Borough where collision occurred	Plain Text
ZIP CODE	Postal code of incident occurrence	Plain Text
LATITUDE	Latitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326)	Number
LONGITUDE	Longitude coordinate for Global Coordinate System, WGS 1984, decimal degrees (EPSG 4326)	Number
LOCATION	Latitude , Longitude pair	Location
ON STREET NAME	Street on which the collision occurred	Plain Text
CROSS STREET NAME	Nearest cross street to the collision	Plain Text
OFF STREET NAME	Street address if known	Plain Text
NUMBER OF PERSONS INJURED	Number of persons injured	Number
NUMBER OF PERSONS KILLED	Number of persons killed	Number
NUMBER OF PEDESTRIANS INJURED	Number of pedestrians injured	Number
NUMBER OF PEDESTRIANS KILLED	Number of pedestrians killed	Number
NUMBER OF CYCLIST INJURED	Number of cyclists injured	Number
NUMBER OF CYCLIST KILLED	Number of cyclists killed	Number
NUMBER OF MOTORIST INJURED	Number of vehicle occupants injured	Number
NUMBER OF MOTORIST KILLED	Number of vehicle occupants killed	Number
CONTRIBUTING FACTOR VEHICLE 1	Factors contributing to the collision for designated vehicle	Plain Text
CONTRIBUTING FACTOR VEHICLE 2	Factors contributing to the collision for designated vehicle	Plain Text
CONTRIBUTING FACTOR VEHICLE 3	Factors contributing to the collision for designated vehicle	Plain Text
CONTRIBUTING FACTOR VEHICLE 4	Factors contributing to the collision for designated vehicle	Plain Text
CONTRIBUTING FACTOR VEHICLE 5	Factors contributing to the collision for designated vehicle	Plain Text
COLLISION_ID	Unique record code generated by system. Primary Key for Crash table.	Number
VEHICLE TYPE CODE 1	Type of vehicle based on the selected vehicle category (ATV, bicycle, car/suv, ebike, escooter, truck/bus, motorcycle, other)	Plain Text
VEHICLE TYPE CODE 2	Type of vehicle based on the selected vehicle category (ATV, bicycle, car/suv, ebike, escooter, truck/bus, motorcycle, other)	Plain Text
VEHICLE TYPE CODE 3	Type of vehicle based on the selected vehicle category (ATV, bicycle, car/suv, ebike, escooter, truck/bus, motorcycle, other)	Plain Text
VEHICLE TYPE CODE 4	Type of vehicle based on the selected vehicle category (ATV, bicycle, car/suv, ebike, escooter, truck/bus, motorcycle, other)	Plain Text
VEHICLE TYPE CODE 5	Type of vehicle based on the selected vehicle category (ATV, bicycle, car/suv, ebike, escooter, truck/bus, motorcycle, other)	Plain Text

In [56]:
#Values are consolidated
df = df.applymap(lambda value: value.title() if type(value) == str else value)

In [53]:
#double check for duplicates: 
df[df.duplicated()]

Empty DataFrame
Columns: [crash_date, crash_time, number_of_persons_injured, number_of_persons_killed, number_of_pedestrians_injured, number_of_pedestrians_killed, number_of_cyclist_injured, number_of_cyclist_killed, number_of_motorist_injured, number_of_motorist_killed, contributing_factor_vehicle_1, collision_id, vehicle_type_code1]
Index: []

DELETING COLUMNS

In [35]:
df.shape #double check that the

(100000, 29)

In [36]:
#To get the exact rows where data is missing 
#df[df['health'].isnull()] .isnull()] -check the columns

In [37]:
# Checking how many rows of each attribute are NaN

In [30]:
#The dataset contains no missing values ("" or null)
#No duplicates.
#No blank spaces (ex: " I love python " => "I love python")

class cleaning_data():
    def __init__():
        pass

    def drop_duplicates(self,df):#No duplicates.

        return df.drop_duplicates()
    
    def remove_space(self,df) :#The dataset contains no missing values ("" or null)
        return df.replace('^ | $', '', regex=True) #^.*$ means - match, from beginning to end, any character that appears zero or more times
    
    def remove_empty_rows(self,df):
        return df.dropna(how='all')